#welcomemsg {
	text-align: center;
	padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 36px;
}
.opt2container{
	text-align: center;
	padding-top: 2vw;
}
.options {
	border: 1px solid blue;
	width: 20vw;
	height: 20vw;
	margin: 2vw;
	padding: 1vw;
	display: inline-block;
	text-align: center;
	font-size: 5vw;
}
.box{
	border-style: solid;
	display: inline-block;
	height: 25vw;
	width: 25vw;
	margin-bottom: 1vw;
	margin-left: 1vw;
	margin-right: 1vw;
	font-size: 4vw;
	position: relative;
	text-align: left;
}
.nav{
	float: left;
	display: inline-block;
	width: 2vw;
	padding-top: 41vh;
	font-size: 5vw;
}

#strawberries{ 
	background-color: pink;
}
#mango{ 
	background-color: orange;
}
#raspberries{ 
	background-color: red;
}
#peaches{ 
	background-color: coral;
}
#kale{ 
	background-color: LimeGreen;
}
#spinach{ 
	background-color: DarkGreen;
}

#outerdiv{
	float: left;
	text-align: center;
	display: inline-block;
	width: 90vw;
}
.itemimage{
	height: 100%;
	padding-left: 5vw;
	position: relative;
	display: inline-block;
}
.title{
	display: inline-block;
	position: relative;
}

span{
	padding-left: 3vw;
	position: absolute;
	bottom: 0;
}
