#welcomemsg {
	text-align: center;
	padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 36px;
}
.opt2container{
	text-align: center;
	padding-top: 2vw;
}
.options {
	border: 1px solid blue;
	width: 20vw;
	height: 20vw;
	margin: 2vw;
	padding: 1vw;
	display: inline-block;
	text-align: center;
	font-size: 5vw;
}

.box{
	border-style: solid;
	display: inline-block;
	height: 25vw;
	width: 25vw;
	margin-bottom: 1vw;
	margin-left: 3vw;
	font-size: 4vw;
	position: relative;
	text-align: left;
}

#strawberries{ 
	background-color: pink;
}
#mango{ 
	background-color: orange;
}
#raspberries{ 
	background-color: red;
}
#peaches{ 
	background-color: coral;
}
#kale{ 
	background-color: LimeGreen;
}
#spinach{ 
	background-color: DarkGreen;
}

#outerdiv{
	text-align: center;
}
.itemimage{
	height: 100px;
	padding-left: 50px;
	float: left;
}
.title{
	float: left;
	padding-left: 40px;
	font-size: 25px;
}

.instructions{
	padding-top:100px; 
	width: 100%;
	display: block;
	font-size: 40px;
	padding-left: 150px

}

span{
	width: 100px; 
	position: absolute;
	margin-top: 10px;
	bottom: 0;
	padding-left: 15px;
}
